@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);

body
{
    background: #e4e4e4;
    margin: 0px;
    padding: 0;
}

header
{
    height: 500px;
    display: flex;
    flex-direction: column;
    background: #004c01;
    padding: 2vw 5vw 2vw 5vw;
    color: white
}
h1
{
    font: 600 40px 'Lexend';
    margin-bottom: 0px
}
h2
{
    font: 200 28px 'DM Sans'
}
#message-box
{
    height: 100px;
    width: 400px;
    padding: 4px 4px 4px 4px;
    margin: 8px 0 8px 0;
    border: 1px solid gray;
    background: whitesmoke;
    border-radius: 8px;
    font: 300 16px 'Lexend';
    color:rgb(26, 26, 26);
    line-height: 1;
    overflow-y: clip;
    resize: none;
}
#message-box::placeholder
{
    font: 300 16px 'Lexend';
    color: gray;
}
#contact-caption
{
    font: 300 16px 'Lexend';
    color: white;
    margin: 8px 0 8px 0;
}
#email
{
    height: auto;
    width: 400px;
    padding: 4px;
    margin: 8px 0 8px 0;
    border: 1px solid gray;
    background: whitesmoke;
    border-radius: 8px;
    font: 300 16px 'Lexend';
    color: rgb(26, 26, 26);
}
#email::placeholder
{
    font: 300 16px 'Lexend';
    color: gray;
}
#send-help
{
    height: auto;
    width: 128px;
    padding: 8px;
    margin: 8px 0 8px 0;
    border-radius: 8px;
    border: none;
    background-color: green;
    text-transform: uppercase;
    font: 300 12px 'Lexend';
    color: white;
}
#send-help:hover
{
    filter: drop-shadow(0px 0px 5px rgba(251, 255, 0, 0.719));
}

main
{
    display: flex;
    flex-direction: column;
    padding: 4vh 5vw 4vh 5vw;
    color: #004c01;
}
ul
{
    display: flex;
    flex-direction: column;
    gap: 4px
}
.faq-container 
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 2em;
}
details
{
    font: 300 1rem 'DM Sans';
    margin: 0 auto;
    padding: 1em;
    width: 90%;
    background: white;
    border: 1px solid #004c01;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
details:hover
{
    border: 1px solid yellow;
}
summary
{
    user-select: none;
    cursor: pointer;
    font-weight: 500;
}
.faq-title
{
    width: 90%;
    opacity: 0.75;
}
.faq-title:hover{
    opacity: 1;
}
.faq-content
{
    color: black;
    padding: 1em;
    line-height: 1.5;
}